.center{
    text-align: center;
}

#p1 {
    color: blue;
}
#p2 {
    font-family: courier, monospace;
}


#p4 {
    font-size: 50px;
}

#div1 {
    background-color: yellow;
}

#div3 {
    border : 1px solid blue ;
    min-height: 200px;
}